td {
    border: 4px;
    border-top: 2px dashed lightgrey;
    border-left: 2px dashed lightgrey;
    padding-left:6px;
    vertical-align:top;
}

tr.header td {
    font-size: 1.2em;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
    border: 2px solid black;
    border: 2px solid black;
    border: 2px solid black;
}



.button {
    display:inline-block;
    border-radius: 6px;
    border-top:13px;
    border:3px;
    background-color: #B99;
    border: 1px solid #BBB;
    padding: 4px;
}

.button:hover{
    background-color:#DBB;
}

a{
    text-decoration:none;
}

.queryResultBlock{
    cursor:pointer;
}



.queryKind {
    background-color: #DDD;
    border: 1px solid #BBB;
    padding: 3px;
    display:block;
}

.renderedQuery{
    display:inline-block;
}

.humanPrompt{
    display:inline-block;
}

.fullPrompt {
    display: inline-block;
}

.queryDeleteButton{
    float:right;
}

.mainTranscript {
    height:150px;
    overflow:scroll;

}

